h1 {
    color: white;
    background-color: #292F36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
p {
    color:#292F36;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
}