:root {
    font-size: 1rem;
    --mainyellow: #FFE66D;
    --mainblue: #4ECDC4;
    --maindark: #292F36;
    --mainred: #D70040;
    --mainquote: #464952;
    --text_margin1: 3%;
    --offset_amount1: 90px;
    --offset_amount2: 45px;
    --offset_amount2A: 10%;
    --offset_amount3: 25px;
}
@font-face {
    font-family: 'FjallaOne', sans-serif;
    src: url('fonts/fjallaone-regular-webfont.woff') format('woff'),
    url('fonts/FjallaOne-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
}

h1 {
    display: inline-block;
    color: white;
    background-color: var(--maindark);
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'FjallaOne', sans-serif;
    font-size: 4rem;
    padding: 3%;
    left: var(--text_margin1);
}
p, ul {
    color: var(--maindark);
    font-family: helvetica;
    font-style: normal;
    font-size: 1rem;
    line-height: 2rem;
    margin: var(--text_margin1);
}
h2 { 
    display: block;
    background-color: var(--mainblue);
    color: var(--maindark);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 3rem;
    padding: 2.5%;
    margin:  var(--text_margin1) auto;
 } 
 h3 {
    display: inline-block;
    padding: 1.5%;
    background-color: var(--mainyellow);
    color: var(--maindark);
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 2.5rem;
    left: var(--text_margin1);
 }

 h4 {
    display: inline-block;
    padding: 1.5%;
    background-color: var(--mainred);
    color: white;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    left: var(--text_margin1);
    position: relative;
 }
 .caption {
    display: inline-block;
    position: relative;
    background-color: var(--mainyellow);
    padding: 2%;
    bottom: var(--offset_amount2);
    max-width: 85%;
    left: var(--text_margin1);
    
 }
 .title {
    position: relative;
    top: var(--offset_amount1);
 }

 div.projdesc {
    max-width: 90%;
    padding: 2%;
    display: inline-block;
    background-color: white;
    border-style: solid;
    border-color: #292F36;
    border-width: thin;
    position: relative;
    margin: 0 var(--text_margin1);
    bottom: var(--offset_amount2);
 }
 li a {
    font-size: larger;
    display: block;
    color: white;
    border-style: solid;
    border-width: medium;
    padding: 1%;
    margin: 1rem;
    background-color: var(--mainred);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
 }

 nav ul {
    list-style-type: none;
    padding: 0;
    margin: 5% 4% 0%;
    border: 3px solid var(--mainred);
  }
  q {
    position: relative;
    color: darkgray;
    font-family: helvetica;
    font-style: italic;
    font-size: 1rem;
    line-height: 2rem;
    display: inline-block;
    margin: var(--text_margin1);
  }
  q + img {
    margin: 25% 0 -10%;
  }
 .imgtitle ~ img {
    position: relative;
    bottom: var(--offset_amount1);
    z-index: -2;
  }
  img {
    position: relative;
    z-index: -1;
  }
  /* h3.imgtitle {
    position: relative;
    top: var(--offset_amount2A);
    left: var(--offset_amount2); 
    margin-top: -(var(--offset_amount2));
    z-index: 20;
  } */

/* h1.contactheader {

} */

  form {
    background-color: white;
    width: 85%;
    max-width: 900px;
    margin: auto;
    padding-top: 7%;
    border-style: solid;
    border-width: 5px;
    border-color: #4ECDC4;
  }
  /* label {
    margin-left: 7%;
  } */
  input, textarea {
    position: relative;
    width: 80%;
    padding: 1%;
    margin: 5% 8%
}

  input::placeholder {
    position: absolute;
  }
  input:last-child {
    width: 25%;
    background-color: #4ECDC4;
    border-style: none;
  }